{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1 class="text-center">Liste des images</h1>
        <hr>
        <div class="col-lg-8">
    {% if images is defined %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <td>#</td>
                <td>Filename</td>
                <td>Direction</td>
                <td>poids</td>
                <td>Action</td>
                <td>Action</td>
            </tr>
            </thead>
            <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.id }}</td>
                <td>{{ image.filename }}</td>
                <td>{{ image.file }}</td>
                <td>{{ image.file }}</td>
                <td><a href="{{ path('update_image', {'id': image.id}) }}"> <i class="fa fa-upload" ></i> </a></td>
                <td><a href="{{ path('remove_image', {'id': image.id}) }}"> <i class="fa fa-trash" ></i> </a></td>
            </tr>

            {% endfor %}
            </tbody>
        </table>

    {% endif %}
    </div></div>

{% endblock %}