{% trans_default_domain 'FOSUserBundle' %}

<main class="page-main">
    <div class="block">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="{{ path('homepage') }}"><i class="icon icon-home"></i></a></li>
                <li>/<span>Faq</span></li>
            </ul>
        </div>
    </div>
    <div class="block">
        <div class="container">
            <div class="form-card">
                <h3>Personal Information</h3>

                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'),
                    'attr': {'class': 'account-create fos_user_registration_register'}}) }}
               <div class="col-lg-12">
                   <div class="col-lg-2">
                       {{ form_row(form.civility) }}
                   </div>
                   <div class="col-lg-5">
                       {{ form_row(form.firstname) }}
                   </div>
                   <div class="col-lg-5">
                       {{ form_row(form.lastname) }}
                   </div>
               </div>
                <div class="col-lg-12">
                    <div class="col-lg-6">
                        {{ form_row(form.username) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.email) }}
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-6">
                        {{ form_row(form.plainPassword.first) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.plainPassword.second) }}
                    </div>
                </div>

                <div>
                    <button type="submit" class="btn btn-block">{{ 'registration.submit'|trans }} </button>
                    <span class="required-text">* Required Fields</span></div>
                <div class="back"> <a href="{{ path('homepage') }}">la boutique <i class="icon icon-undo"></i></a></div>

                {{ form_end(form) }}

            </div>
        </div>
    </div>
</main>

