<div class="header-link header-select dropdown-link header-language">
    <a href="{{ path('homepage') }}">
        <img src="{{ asset('Assets/images/template_images/images/flags/fr.png') }}"
                alt/>
    </a>
    <ul class="dropdown-container">
        <li>
            <a href="{{ path('homepage') }}">
                <img src="{{ asset('Assets/images/template_images/images/flags/eng.png') }}"
                        alt/>French</a>
        </li>
        <li class="active">
            <a href="{{ path('homepage') }}">
                <img src="{{ asset('Assets/images/template_images/images/flags/fr.png') }}"
                        alt/>English</a>
        </li>
        <li>
            <a href="{{ path('homepage') }}">
                <img src="{{ asset('Assets/images/template_images/images/flags/den.png') }}"
                        alt/>German</a>
        </li>
    </ul>
</div>

